<!DOCTYPE html>
<html lang="en">
    <title>Super Geocoder</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Super Geocoder</h1>
            <p>Please uplaod your CSV file. The values containing addesses should be in a column names <em>address</em> or <em>Address</em></p>               
                <form action="{{url_for('table')}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">                   
                    <button type="submit">Submit</button>
            </form>
            <div>
                {{ table|safe }} 
                {% include [dl_btn] ignore missing %}
                <p class="error">
                    <strong>{{err_msg}}</strong> 
                </p>                
            </div>            
        </div>           
    </body>
</html>